:root {
  --black-bkg: #222222;
  --light-pink: #f1e4e6;
  --dark-pink: #f16d7f;
  --sales-bkg-color: #4f4745;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: var(--black-bkg);
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header {
  background-color: var(--black-bkg);
}

.header__wrp {
  display: flex;
  justify-content: space-between;
  min-height: 75px;
  align-items: center;
}

.header__list {
  display: flex;
}

.header__logo {
  margin: 0 41px 0 0;
}
.header__link {
  margin: 0 0 0 34px;
}

.header__nav {
  display: none;
}

.header__button {
  border: none;
  background-color: transparent;
}

.brand {
  display: flex;
  margin: 0 0 62px 0;
}

.brand__title-wrp {
  flex-grow: 1;
  padding: 0 0 0 92px;
  display: flex;
  align-items: center;
  background-color: var(--light-pink);
}

.brand__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
}

.brand__subtitle {
  display: block;
  font-size: 37px;
  font-weight: 700;
  line-height: 44px;
}

.brand__subtitle-pink {
  color: var(--dark-pink);
}

.sales__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sales__item {
  padding: 20px;
  box-sizing: border-box;
  width: 360px;
  min-height: 260px;
  background-color: var(--sales-bkg-color);
}

.sales__item--woman {
  background-image: url(../img_background/for_woman.png);
}

.sales_text {
  text-align: center;
  margin: 85px 83px;
  text-transform: uppercase;
}

.sales__item-title {
  color: #ffffff;
  font-size: 16px;
}

.sales__item-text {
  color: #f16d7f;
  font-size: 24px;
}

.sales__item--man {
  background-image: url(../img_background/for_man.png);
}

.sales__item--kids {
  background-image: url(../img_background/for_kids.png);
}

.sales__item--shoes {
  background-image: url(../img_background/shoes.png);
  margin-top: 30px;
  width: 100%;
}
